bin/
/build/
*.raw
*.res
*.db
*.cnf
*.summary
*.ben
.classpath

## -------------------------------
## Kate Swap Files
## -------------------------------
*.kate-swp
.#kate-*

## -------------------------------
## Backup artifacts
## -------------------------------
~*
*~

# maven output
target

*.csv
*.txt
